@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0 solid white;
    text-decoration: none;
}

html {
    height: 100%;
    width: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #1c2028;
    color: #eceff4;
    font-family: "JetBrains Mono", monospace;
}

nav {
    position: sticky;
    top: 0;
    left: 0;
    height: 7vh;
    background-color: rgba(28, 32, 40, 0.8);
    backdrop-filter: blur(4px);
}

main {
    flex-grow: 1;
}

#main {
    text-align: center;
    margin-top: 8rem;
}

#main-text {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

#main-motto {
    margin-bottom: 8rem;
}

/* #main hr {
    width: 40%;
    color: #eceff4;
    border: 1px solid #eceff4;
    margin: auto;
} */

/* ===== category block styling ===== */

/* main container */
.category {
    display: flex;
    flex-direction: column;
    background-color: #3b4252;
    width: 80%;
    margin: auto;
    margin-bottom: 6rem;
}

.category-title {
    background-color: #2e3440;
    padding: 1rem;
    font-size: 1.3rem;
}

.category-body {
    display: flex;
}

.left {
    flex-direction: row;
}

.right {
    flex-direction: row-reverse;
}

.category-body-image {
    width: 30%;
}

.one {
    background-color: #a3be8c;
}

.two {
    background-color: #bf616a;
}

.three {
    background-color: #ebcb8b;
}

.four {
    background-color: #88c0d0;
}

.category-body-list {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
    align-items: center;
}

.category-body-list-item {
    padding: 1rem;
}